.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Fira Sans", sans-serif;
    font-family: "Karla", sans-serif;
    font-family: "Roboto Slab", serif;
}

.modal_content {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: rgb(196, 244, 246);
}

.modal_header {
    flex: 10%;
    display: flex;
}

.modal_header_text {
    flex: 90%;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    text-align: center;
}

.modal_header_button {
    flex: 10%;
    margin: 0px;
    padding: 0px;
}

.modal_form_body {
    display: flex;
    flex-direction: column;
    flex: 90%;
    padding: 2px;
    margin: 2rem 3rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.name_input_container,
.others_input_container {
    display: flex;
    flex-direction: row;
}

.name_input_container input:first-child,
.others_input_container input:first-child {
    margin-right: 10px;
}

.cred_input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup_btn {
    height: 40px;
    width: 100%;
}

.modal_form_body input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem;
    /** Setting a lower value breaks the style! **/
    font-size: 20px;
    margin: 0;
    border: 1px solid black;
    border-radius: 2px;
    height: 2.5rem;
}

input:focus {
    background: #f6dbfc;
    border-color: #4f005f;
    outline: none;
}

.modal_header_button:hover,
.modal_header_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error_container {
    height: 1.5rem;
    color: red;
}

@media (max-width: 500px) {
    .name_input_container,
    .others_input_container {
        flex-direction: column;
        width: 100%;
    }

    .name_input_container input,
    .others_input_container input {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}
