.button {
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);

    font: inherit;
    font-size: 18px;

    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

    border: 1px solid rgb(248, 68, 100);
    border-radius: 3px;
    background-color: rgb(248, 68, 100);
    cursor: pointer;
    text-align: center;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #ffffff68 0 -3px 0 inset;
}
