.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    font-family: "Karla", sans-serif;
    font-family: "Roboto Slab", serif;
}

.modal_content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    background-color: rgb(196, 244, 246);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.close_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem;
}

.close_btn:hover,
.close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login_image {
    height: 110px;
    display: block;
    margin: auto;
    background: none;
}

.form_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.login_form {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 20rem;
}

.input_field {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
}

.login_form input {
    width: 96%;
    font: inherit;
    border-radius: 1px;
    border: 1px solid #000000;
    display: flex;
    padding: 0.35rem;
    margin: 0px;
}

.login_form label {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    float: left;
}

/** Is Admin Checkbox */
.input_field.checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding-bottom: 10px;
}

.input_field.checkbox input {
    margin: auto;
    text-decoration: none;
    flex: 20%;
}
.input_field.checkbox label {
    flex: 80%;
}

input[type="email"].error {
    color: red;
}

.message {
    position: relative;
    padding-bottom: 10px;
    color: red;
    font-size: inherit;
}
.forgot_password a {
    text-decoration: none;
    color: rgb(41, 133, 170);
}
.forgot_password a:hover {
    color: #245b2d;
}

.login_form input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}
