.modal {
    display: flex;
}

.modal_content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    background-color: rgb(196, 244, 246);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image {
    height: 110px;
    display: block;
    margin: auto;
    background: none;
}

.form-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 20rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
}

.login-form input {
    width: 96%;
    font: inherit;
    border-radius: 1px;
    border: 1px solid #000000;
    display: flex;
    padding: 0.35rem;
    margin: 0px;
}

/** Is Admin Checkbox */
.input-field.checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding-bottom: 10px;
}

.input-field.checkbox input {
    margin: auto;
    text-decoration: none;
    flex: 20%;
}
.input-field.checkbox label {
    flex: 80%;
}

input[type="email"].error {
    color: red;
}

.message {
    position: relative;
    padding-bottom: 10px;
    color: red;
    font-size: inherit;
}
.forgot-password a {
    text-decoration: none;
    color: rgb(41, 133, 170);
}
.forgot-password a:hover {
    color: #245b2d;
}

.login-form input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}
